:root {
    --site-width: 64em;
    --site-width-min: 56em;
    --header-height: 12em;
}
body {
    display: block;
    margin: 0 auto;
    max-width: var(--site-width);
    min-width: var(--site-width-min);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    background: #171717;
}
#main {
    box-shadow: 0 0 1em #000;
}
header {
    position: relative;
    display: flex;
    height: var(--header-height);
    max-height: var(--header-height);
    background-color: #efefef;
}
.cover {
    position: relative;
    display: inline-block;
    height: var(--header-height);
}
.cover img {
    width: var(--header-height);
    height: var(--header-height);
}
#map-link,
#map-link:visited {
    position: absolute;
    display: block;
    width: var(--header-height);
    overflow: hidden;
    bottom: 0;
    right: 0;
    color: white;
    opacity: 0;
    text-decoration: none;
    text-align: left;
    text-indent: 0.5em;
    transition: opacity 0.5s ease, background-color 0.25s ease;
}
#map-link:hover {
    background-color: #0007;
    opacity: 1;
}
.info {
    display: inline-block;
    width: 100%;
    height: inherit;
}
.info:after {
    clear: both;
}
.metadata {
    display: none;
    max-height: var(--header-height);
    overflow: auto;
    padding: 0 0.75em;
}
#song-name {
    font-size: 2.5em;
}
#song-subname {
    font-size: 1.25em;
}
#song-author {
    font-size: 1.5em;
}
#level-author {
    font-size: 1em;
}
.input {
    padding: 0 0.75em;
}
.input label,
.input input {
    padding: 0;
}
#input-container {
    position: relative;
    height: 100%;
    background-color: #fff;
    transition: background-color ease 0.25s;
}
#input-url {
    width: 25em;
}
#input-id {
    width: 5em;
}
#input-file {
    display: none;
}
#input-button {
    border: 1px solid #aaa;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 0.25em;
    cursor: pointer;
    transition: background-color ease 0.2s, border-color ease 0.2s;
}
#input-button:hover {
    border-color: #777;
    background-color: #ddd;
}
#title {
    font-size: 2.5em;
}
#subtitle {
    font-size: 1.5em;
}
.watermark {
    position: absolute;
    bottom: 4px;
    right: 16px;
    color: #777;
}
#reset-button {
    position: absolute;
    top: 8px;
    right: 16px;
}
.loading {
    position: relative;
    background-color: #222;
    width: 100%;
}
#loadingbar {
    background-color: #4060a0;
    width: 0%;
    height: 30px;
    transition: width 0.2s ease-out, background-color 0.1s linear;
}
#loadingtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    color: white;
}
.accordion {
    background-color: #333;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    font-size: 1.25em;
    text-align: left;
    transition: background-color 0.25s ease;
}
.active,
.accordion:hover {
    background-color: #444;
}
.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: left;
    padding: 0px 12px 0px 4px;
}
.active:after {
    content: '\2212';
}
.collapsible {
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
#tools {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
#settings {
    vertical-align: top;
    width: 50%;
    padding: 8px;
}
#settings select {
    min-width: 120px;
}
#settings input[type='number'] {
    width: 48px;
}
#settings input[type='text'] {
    width: 48px;
}
#settings input[type='button'] {
    border: 1px solid #aaa;
    display: inline-block;
    padding: 2px 6px;
    margin-right: 2px;
    cursor: pointer;
}
#settings input[type='button']:disabled {
    cursor: not-allowed;
}
#output-container {
    width: 50%;
    max-height: 100%;
    padding: 8px;
    overflow: auto;
    object-fit: contain;
}
.output-box {
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 2px;
    white-space: normal;
    overflow: auto;
}
.output-box#output-diff {
    height: 16em;
    max-height: 16em;
}
.output-box#output-map {
    height: 8em;
    max-height: 6em;
}
.stats {
    background-color: white;
}
.char-container {
    display: inline-block;
    width: 100%;
    min-width: 600px;
    border-top: 1px solid #222;
}
.char-label {
    display: block;
    background-color: white;
    color: black;
    padding: 4px 1%;
    font-size: 2em;
}
.diff-container {
    background-color: white;
}
.diff-header {
    display: block;
    height: 2em;
}
.diff-label {
    color: white;
    padding: 0 1%;
    font-size: 1.25em;
}
.diff-dot-container {
    float: right;
    background-color: #777;
    border-left: 4px solid #222;
    height: 100%;
    padding: 0 1%;
}
.diff-dot {
    display: inline-block;
    vertical-align: center;
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0.425em 0.125em;
}
.diff-panel {
    display: inline-block;
    vertical-align: top;
    color: black;
    padding-top: 0.25%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 23%;
    margin: 0px;
}
table {
    border-collapse: collapse;
}
caption {
    min-width: 11em;
    padding: 0.0625em 0;
    text-align: left;
}
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 0.25em;
    text-align: left;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 0.125em;
    min-width: 2.75em;
    vertical-align: top;
    text-align: center;
}
.no-border {
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: rgb(0, 64, 255);
    transition: color ease 0.2s;
}
a:hover {
    color: rgb(255, 32, 0);
}
