$tabs_list: 'info', 'stats', 'checks', 'settings', 'note', 'obstacle', 'event', 'other', 'general';

.tabs {
   &__container {
      display: flex;
      box-sizing: border-box;
      flex-direction: column-reverse;
      justify-content: space-between;
      flex: 1;
   }
   &__nav {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
   }
   &__radio {
      position: absolute;
      width: 0;
      height: 0;
      left: -9999px;
      &:checked {
         @each $name in $tabs_list {
            &[id='tabs__#{$name}'] ~ .tabs__nav .tabs__label-block[for='tabs__#{$name}'], 
            + .tabs__label-block {
               border-bottom: 1px solid var(--bg-checks-tab-select);
               filter: contrast(110%) brightness(1.05);
            }
            &[id='tabs__#{$name}'] ~ .tabs__nav .tabs__label-text[for='tabs__#{$name}'],
            + .tabs__label-text {
               padding: 0 1em;
               margin: 0;
               border-bottom: 1px solid var(--bg-checks-tab-select);
            }
         }
         + .tabs__tab {
            display: block;
         }
      }
      &:focus {
         outline: 1px dashed var(--c-outline-focus-accordion);
         outline-offset: -1px;
      }
   }
   &__label {
      &-block {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         padding: 0.25em;
         background-color: var(--bg-accordion-base);
         color: var(--c-accordion-text);
         cursor: pointer;
         font-size: 1.25em;
         font-weight: 800;
         text-align: center;
         text-transform: uppercase;
         line-height: 1.5;
         border-bottom: 1px solid var(--bg-checks-tab);
         transition:
            filter 0.05s ease;
         &:hover {
            filter: contrast(110%) brightness(1.05);
         }
      }
      &-text {
         padding: 0 0.25em;
         margin: 0 0.75em;
         cursor: pointer;
         text-align: center;
         line-height: 1.5;
         border-bottom: 1px solid var(--bg-checks-tab);
         transition:
            margin 0.125s ease,
            padding 0.125s ease;
         &:hover {
            padding: 0 1em;
            margin: 0;
         }
      }
      &:hover {
         border-bottom: 1px solid var(--bg-checks-tab-select);
      }
      &-select {
         padding: 0 0.25em;
      }
   }
   &__tab {
      display: none;
      box-sizing: border-box;
      max-height: fit-content;
      overflow: auto;
   }
   &__apply {
      text-align: center;
      margin-top: auto;
   }
   &__select {
      cursor: pointer;
      width: 100%;
   }
   &__output {
      &-text {
         margin: 0 0.25em;
         padding: 0 0.25em;
      }
      &-box {
         border: 1px solid gray;
         border-radius: 4px;
         margin: 0.25em;
         padding: 0.25em;
         max-height: 16em;
         overflow: auto;
      }
   }
}
