@use 'dark';
@use 'light';
@use 'monochrome';
@use 'template';

@mixin themify($themes) {
   @each $theme, $map in $themes {
      .theme-#{$theme} {
         @each $key, $submap in $map {
            --#{$key}: #{$submap};
         }
      }
   }
}

$themes: (
   dark: dark.$theme,
   light: light.$theme,
   monochrome: monochrome.$theme,
);

// default fallback theme
body {
   @each $key, $submap in template.$theme {
      --#{$key}: #{$submap};
   }
}

@include themify($themes);
