.link {
    padding: 0.125rem 0.25rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--c-link-base);
    transition: color ease 0.125s;
    &:hover {
        color: var(--c-link-hover);
    }
}
.cover {
    display: block;
    width: var(--header-height);
    height: var(--header-height);
    &__link {
        display: block;
        position: relative;
        width: inherit;
        height: inherit;
        padding: 0;
        &:not(.disabled):hover {
            opacity: 0.5;
        }
    }
    &__image {
        position: absolute;
        width: inherit;
        height: inherit;
    }
}
.container {
    display: block;
    position: relative;
    width: 100%;
    height: var(--header-height);
}
.intro {
    position: relative;
    height: 100%;
    &__container {
        display: flex;
        height: 100%;
        align-items: stretch;
    }
    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 0.5;
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.metadata {
    &__song-name {
        font-weight: 500;
        font-size: 2rem;
        line-height: 0.5;
    }
    &__song-subname {
        font-weight: 400;
    }
    &__song-author {
        font-weight: 400;
        font-size: 1.375rem;
    }
    &__song-bpm {
        font-family: var(--font-monospace);
    }
    &__song-duration {
        font-family: var(--font-monospace);
    }
}
.input {
    &__file {
        position: absolute;
        left: -9999px;
        &-zone {
            display: block;
            position: relative;
            box-sizing: border-box;
            cursor: pointer;
            height: 100%;
            border: 0.125em dashed #808080;
            border-radius: 0.5em;
            background-color: #ccc;
            transition: background-color 0.1s ease;
            &:hover {
                background-color: #d8d8d8;
            }
            &-span {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: auto;
                text-align: center;
            }
        }
        &:focus + &-zone {
            background-color: #aaa;
        }
    }
    &__url {
        width: 100%;
    }
    &__id {
        width: 4em;
    }
    &__reset-button {
        position: absolute;
        top: 1em;
        right: 1.5em;
    }
}
.accordion {
    position: relative;
    width: 100%;
    &__button {
        position: absolute;
        width: 0;
        height: 0;
        left: -9999px;
        & {
            + .accordion__label {
                &::before {
                    content: '\002B';
                    font-weight: bold;
                    float: left;
                    padding: 0 0.75em 0 0.25em;
                }
                + .accordion__collapsible {
                    display: none;
                }
            }
        }
        &:checked {
            + .accordion__label {
                filter: contrast(120%) brightness(1.1);
                &:hover {
                    filter: contrast(130%) brightness(1.15);
                }
                &::before {
                    content: '\2212';
                }
                + .accordion__collapsible {
                    display: block;
                    &-flex {
                        display: flex;
                    }
                }
            }
        }
        &:focus + .accordion__label {
            outline: 1px dashed var(--c-outline-focus-accordion);
            outline-offset: -1px;
        }
    }
    &__label {
        display: block;
        cursor: pointer;
        font-size: 1.125rem;
        padding: 0.375em;
        background-color: var(--bg-accordion-base);
        color: white;
        text-transform: uppercase;
        transition: filter 0.125s ease;
        &:hover {
            filter: contrast(110%) brightness(1.05);
        }
        &--medium {
            font-size: 1.25rem;
        }
        &--large {
            font-size: 1.375rem;
        }
    }
    &__collapsible {
        display: block;
        align-items: stretch;
        background-color: white;
        &-flex {
            @extend .accordion__collapsible;
            display: flex;
        }
    }
}
// this makes me cri
.tools {
    &__container {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    &__radio {
        position: absolute;
        width: 0;
        height: 0;
        left: -9999px;
        &:checked {
            &[id='tools__note'] ~ .tools__nav .tools__label-note,
            &[id='tools__obstacle'] ~ .tools__nav .tools__label-obstacle,
            &[id='tools__event'] ~ .tools__nav .tools__label-event,
            &[id='tools__other'] ~ .tools__nav .tools__label-other {
                padding: 0 1em;
                margin: 0;
                border-bottom: 1px solid #c00;
                &:hover {
                    border-bottom: 1px solid #f00;
                }
            }
            + .tools__tab,
            &[id='tools__note'] ~ #tools__note-content,
            &[id='tools__obstacle'] ~ #tools__obstacle-content,
            &[id='tools__event'] ~ #tools__event-content,
            &[id='tools__other'] ~ #tools__other-content {
                display: block;
            }
        }
        &:focus {
            outline: 1px dashed var(--c-outline-focus-accordion);
            outline-offset: -1px;
        }
    }
    &__label {
        &-tab {
            padding: 0 0.25em;
            margin: 0 0.75em;
            cursor: pointer;
            text-align: center;
            line-height: 1.5;
            border-bottom: 1px solid black;
            transition: margin 0.125s ease, padding 0.125s ease;
            &:hover {
                padding: 0 1em;
                margin: 0;
                border-bottom: 1px solid red;
            }
        }
        &-select {
            padding: 0 0.25em;
        }
    }
    &__tab {
        display: none;
    }
    &__apply {
        margin-top: auto;
    }
    &__select {
        cursor: pointer;
        width: 100%;
    }
    &__output {
        &-text {
            margin: 0 0.25em;
            padding: 0 0.25em;
        }
        &-box {
            border: 1px solid gray;
            border-radius: 4px;
            margin: 0.25em;
            padding: 0.25em;
        }
    }
    &__input[type='checkbox'] {
    }
}
.stats {
    &__mode {
        box-sizing: border-box;
        padding: 0.375em;
        font-size: 1.375rem;
    }
}
.difficulty {
    &__label {
        display: block;
        white-space: normal;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-family: 'Teko';
        font-size: 1.25rem;
        font-weight: bold;
    }
    &--count-1 {
        width: 20.79em;
    }
    &--count-2 {
        width: 10.5em;
    }
    &--count-3 {
        width: 6.9375em;
    }
    &--count-4 {
        width: 5.25em;
    }
    &--count-5 {
        width: 4.2em;
    }
}
.bg {
    &--difficulty-easy {
        background-color: var(--bg-diff-easy);
    }
    &--difficulty-normal {
        background-color: var(--bg-diff-normal);
    }
    &--difficulty-hard {
        background-color: var(--bg-diff-hard);
    }
    &--difficulty-expert {
        background-color: var(--bg-diff-expert);
    }
    &--difficulty-expertplus {
        background-color: var(--bg-diff-expertplus);
    }
}
