$-max-width: 72em;
$-sz-header-height: 12.5em;

:root {
   --header-height: #{$-sz-header-height};
}
html {
   height: 100%;
   font-size: 1em;
   font-family: var(--font-sans-serif);
}
body {
   color: var(--c-text-primary);
   background: var(--bg-body);
   margin: 0;
   padding-bottom: 4em;
}
.wrapper {
   max-width: $-max-width;
   margin: 0 auto;
   &--shadow {
      box-shadow: 0 0 0.25rem #000a;
   }
}
header {
   display: flex;
   position: relative;
   height: $-sz-header-height;
   background-color: var(--bg-header);
}
footer {
   display: flex;
   position: fixed;
   bottom: 1em;
   right: 1em;
   background-image: linear-gradient(
      to left,
      #20202000,
      #202020cc,
      #202020cc,
      #202020cc,
      #20202000
   );
   color: white;
   transform: scale(2, 2);
   div {
      transform: scale(0.5, 0.5);
   }
}
